In [ ]:
# Mosh video

In [5]:
course = 'python for beginners'

print(course.upper())

PYTHON FOR BEGINNERS

In [8]:
print(course.find(' '))
print(course.replace('for', 'with'))

6
python with beginners

In [9]:
print( 'python' in course)

True

In [ ]:
# arethmetic operataers

In [11]:
print(10/3) #will show decimal values
print(10//3) # only show int values

#power operater
print(2**3)

3.3333333333333335
3
8

In [16]:
price  = 25
print( price > 10 or price <30 )

True

In [17]:
if price < 10:
    print("10 r checye choto")
elif price < 15:
    print("15 r checye choto")
else:
    print("15 r checye bro")

15 r checye bro

In [ ]:
#llop

In [18]:
i = 1
while i <= 10:
    print(i * '*') # * ai sign r nam asterisks
    i+=1

*
**
***
****
*****
******
*******
********
*********
**********

In [20]:
#list

In [22]:
names =['john', 'dee', 'jamy', 'mithila', 'foysal']
print(names[0])
print(names[-1]) # back theke kaj kre

john
foysal

In [23]:
print(names)
print(names[0:3])

['john', 'dee', 'jamy', 'mithila', 'foysal']
['john', 'dee', 'jamy']

In [27]:
number = [1,2,3,4,5]
# number.append(6)
# number.insert(0,-1) # inster at spacific index
# number.clear() # cleare whole list
print(number)
print(len(number))

[1, 2, 3, 4, 5]
5

In [28]:
for item in number:
    print(item)

1
2
3
4
5

In [29]:
#range func

In [42]:
# range_numbers = range(5) # 1-4
# range_numbers = range(5,10) # 5-9
# range_numbers = range(10,5,2) # 5,7,9
range_numbers = range(10,5,-1) # 10-6

for item in range_numbers:
    print(item)

10
9
8
7
6

In [43]:
for item in range(5):
    print(item)

0
1
2
3
4

In [44]:
#tuples

In [51]:
tuple_numbers = (1,2,3,3)
print(tuple_numbers.count(5))

0